Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

Xcursor.theme: DMZ-White

URxvt.geometry: 80x22
URxvt.scrollBar: false
URxvt.iconFile: /usr/share/icons/Numix-Circle/48x48/apps/terminal.svg


URxvt*letterSpace : -1
URxvt.font: xft:Monospace:size=10
URxvt.boldFont: xft:Monospace:size=10

URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      firefox
URxvt.matcher.button:   1

URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

!!! jellybeans colors
!! 8 8 8
! *background: #080808
!! 128 128 128
! *foreground: #808080
!! black
!! 26 26 26
!*color0:  #1a1a1a
!! 64 64 64
!*color8:  #404040
!! red
!! 215 95 95
!*color1:  #d75f5f
!! 234 132 132
!*color9:  #EA8484
!! green
!! 135 175 95
!*color2:  #87af5f
!! 199 240 159
!*color10: #C7F09F
!! yellow
!! 255 175 95
!*color3:  #ffaf5f
!! 255 204 154
!*color11: #FFCC9A
!! blue
!! 135 175 215
!*color4:  #87afd7
!! 165 202 239
!*color12: #a5caef
!! magenta
!! 135 135 175
!*color5:  #8787af
!! 166 166 222
!*color13: #A6A6DE
!! cyan
!! 95 135 135
!*color6:  #5f8787
!! 105 178 178
!*color14: #69b2b2
!! white
!! 128 128 128
!*color7:  #808080
!! 215 215 215
!*color15: #d7d7d7

!! euphrasia v2 by bohoomil

! euphrasia fg/bg
URxvt*background:  #090C19
URxvt*foreground:  #E6E6E6
*cursorColor:      #1AAA13

! X.org apps bg/fg
*background: #D0CECB
*foreground: #090C19

! black
*color0:  #222946
! dark grey
*color8:  #8C8B89

! red
*color1:  #B32323
! bright red
*color9:  #DC2C2C

! green
*color2:  #1AAA13
! bright green
*color10: #5DCE33

! yellow
*color3:  #FF9F3E
! bright yellow
*color11: #E6CB29

! blue
*color4:  #4957F3
! bright blue
*color12: #4D79FF

! magenta
*color5:	#BF3E94
! bright magenta
*color13:	#B641CC

! cyan
*color6:  #09A5B3
! bright cyan
*color14: #3CB6F3

! light grey
*color7:  #AEAEAE
! white
*color15: #DBDDE4
