Xft.autohint: false
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

Xcursor.theme: DMZ-White

URxvt.geometry: 80x22
URxvt.scrollBar: false
URxvt.iconFile: /usr/share/icons/Numix-Circle/48x48/apps/terminal.svg

URxvt*letterSpace : 0
URxvt.font: xft:Terminus:size=9
URxvt.boldfont: xft:Terminus:size=9
!URxvt*letterSpace : -1
!URxvt*font: xft:Monospace:size=9
!URxvt.boldfont: xft::

URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      firefox
URxvt.matcher.button:   1

URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~



!classy touch
!*foreground:                               #ebebeb
!*background:                               #181818
!
!!black
!*color0:                                   #303030
!*color8:                                   #474747
!!red
!*color1:                                   #BF1E2D
!*color9:                                   #E7212A
!!green
!*color2:                                   #D7D7D7
!*color10:                                  #E6E6E6
!!yellow
!*color3:                                   #666666
!*color11:                                  #808080
!!blue
!*color4:                                   #FFFFFF
!*color12:                                  #ebebeb
!!magenta
!*color5:                                   #C3143B
!*color13:                                  #E82752
!!cyan
!*color6:                                   #D4D4D4
!*color14:                                  #EDEDED
!!white
!*color7:                                   #ebebeb
!*color15:                                  #cccccc

! Hybrid Terminal Colours. Uses the palette from Tomorrow-Night:
! https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim
! vim: ft=xdefaults
! 
!*background: #1D1F21
!*foreground: #C5C8C6
!! black
!*color0: #282A2E
!*color8: #373B41
!! red
!*color1: #A54242
!*color9: #CC6666
!! green
!*color2: #8C9440
!*color10: #B5BD68
!! yellow
!*color3: #DE935F
!*color11: #F0C674
!! blue
!*color4: #5F819D
!*color12: #81A2BE
!! magenta
!*color5: #85678F
!*color13: #B294BB
!! cyan
!*color6: #5E8D87
!*color14: #8ABEB7
!! white
!*color7: #707880
!*color15: #C5C8C6

!! I can't believe it's not butter
*foreground:                          #EDE4DF
!*foreground:                          #eddcd3
!*background:                          #181512
*background:                          #181818
*cursorColor:                         #eddcd3

! Black                               Black !
*color0:                              #252525
*color8:                              #454545
! Red                                 Red   !
*color1:                              #CD546C
*color9:                              #EF545F
! Green                               Green !
*color2:                              #A5AF86
*color10:                             #BDC79E
! Yellow                              Yellow!
*color3:                              #CD7860
*color11:                             #E88773
! Blue                                Blue  !
*color4:                              #7A9388
*color12:                             #94B1A3
! Magenta                             Magenta
*color5:                              #917154
*color13:                             #989584
! Cyan                                Cyan  !
*color6:                              #767D75
*color14:                             #9DA69E
! White                               White !
*color7:                              #C2C2A8
*color15:                             #EDE4DF

!*.foreground: #839496
!*.background: #1f1f22
!*.cursorColor: #93a1a1
!! barrage
!*.color0: #3a3a3a
!*.color1:  #8c5b3e
!*.color2:  #80764d
!*.color3:  #917154
!*.color4:  #596875
!*.color5:  #6e464b
!*.color6:  #495e61
!*.color7:  #bcbcaf
!*.color8:  #505050
!*.color9:  #9f6744
!*.color10:  #80785a
!*.color11:  #917963
!*.color12:  #656d75
!*.color13:  #6e5155
!*.color14:  #525F61
!*.color15:  #c1c4bc

!*.foreground: #98d1ce
!
!*.background: #0a0f14
!*.cursorColor: #98d1ce
!*.color0: #0a0f14
!*.color8: #10151b
!*.color1: #c33027
!*.color9: #d26939
!*.color2: #26a98b
!*.color10: #081f2d
!*.color3: #edb54b
!*.color11: #245361
!*.color4: #195465
!*.color12: #093748
!*.color5: #4e5165
!*.color13: #888ba5
!*.color6: #33859d
!*.color14: #599caa
!*.color7: #98d1ce
!*.color15: #d3ebe9

!!! jellybeans colors
!! 8 8 8
! *background: #080808
!! 128 128 128
! *foreground: #808080
!! black
!! 26 26 26
!*color0:  #1a1a1a
!! 64 64 64
!*color8:  #404040
!! red
!! 215 95 95
!*color1:  #d75f5f
!! 234 132 132
!*color9:  #EA8484
!! green
!! 135 175 95
!*color2:  #87af5f
!! 199 240 159
!*color10: #C7F09F
!! yellow
!! 255 175 95
!*color3:  #ffaf5f
!! 255 204 154
!*color11: #FFCC9A
!! blue
!! 135 175 215
!*color4:  #87afd7
!! 165 202 239
!*color12: #a5caef
!! magenta
!! 135 135 175
!*color5:  #8787af
!! 166 166 222
!*color13: #A6A6DE
!! cyan
!! 95 135 135
!*color6:  #5f8787
!! 105 178 178
!*color14: #69b2b2
!! white
!! 128 128 128
!*color7:  #808080
!! 215 215 215
!*color15: #d7d7d7

!! euphrasia v2 by bohoomil

!! euphrasia fg/bg
!URxvt*background:  #090C19
!URxvt*foreground:  #E6E6E6
!*cursorColor:      #1AAA13
!
!! X.org apps bg/fg
!*background: #D0CECB
!*foreground: #090C19
!
!! black
!*color0:  #222946
!! dark grey
!*color8:  #8C8B89
!
!! red
!*color1:  #B32323
!! bright red
!*color9:  #DC2C2C
!
!! green
!*color2:  #1AAA13
!! bright green
!*color10: #5DCE33
!
!! yellow
!*color3:  #FF9F3E
!! bright yellow
!*color11: #E6CB29
!
!! blue
!*color4:  #4957F3
!! bright blue
!*color12: #4D79FF
!
!! magenta
!*color5:	#BF3E94
!! bright magenta
!*color13:	#B641CC
!
!! cyan
!*color6:  #09A5B3
!! bright cyan
!*color14: #3CB6F3
!
!! light grey
!*color7:  #AEAEAE
!! white
!*color15: #DBDDE4

